.container {
    width: 100%;
    height: 100%;
    .page_top_container {
      width: 100%;
      height: 100%;
      .banner_container {
        position: relative;
        height: 240px;
        width: 100%;
        overflow: hidden;
        background-image:linear-gradient(to right, #79bade, #2547b6);
        .banner_content {
          position: absolute;
          left: 50%;
          top: 50%;
          z-index: 2;
          transform: translate(-50%,-50%);
          color: #ffffff;
          text-align: center;
          .page_title {
            font-size: 48px;
            font-family: 'Raleway';

          }
          p {
              color: #ffffff;
              line-height: 30px;
              &:nth-of-type(1) {
                  font-size: 22px;
                  margin: 12px 0px;
              }
              &:nth-last-of-type(1) {
                font-weight: bold;
              }
          }
        }
  
        
      }
      /*
      * 小于 750
      */
      .banner_container {
        @media screen and (max-width: 750px){
            height: 430px;
            .banner_content {
                width: 100%;
                box-sizing: border-box;
                padding: 0 15px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .page_title {
                    font-size: 30px;
                }

                p {
                    &:nth-of-type(2) {
                        width: 300px;
                    }
                }
              
            }
          }
      }
      .supportted_devices-container {
        display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        width: 100%;
        background-color: #F4F4F4;
        box-shadow: 0px 0px 6px 0px rgba(0,0,0,.4);

        .devices_wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 85%;
        }
        a {
            display: inline-block;
            // width: 9%;
            margin: 5px 0px;
            text-decoration: none;
        }
        img {
          display: inline-block;
          height: 66px;
          width: auto;
          flex-shrink: 0;
          box-shadow: 0px 0px 0px 0px rgba(255,255,255,0);
          transition: all linear 0.1s;
          &:hover {
              box-shadow: 0px 10px 12px 0px rgba(0,0,0,.35);
          }
        }
      }
      /*
        * 屏幕 <= 750px
        */
        .supportted_devices-container {
            @media screen and (max-width: 750px){
                display: none;
            }
        }
    }

    .product_container {
        .product_container_title_box {
            width: $rootWidth;
            margin: 25px auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            
            .product_area_title {
                font-size: 30px;
                color: #353535;
                display: inline-block;
            }
            .updated {
                font-size: 14px;
                color: #8E8D8D;
                margin-left: 25px;
                display: inline-block;
            }
            .disclosure_box {

                position: relative;
                // overflow: hidden;
                .disclosure_title {
                    font-size: 14px;
                    color: #A6A2A2;
                    cursor: pointer;
                    .text {
                        text-decoration-color: #A6A2A2;
                        text-decoration-line: underline;
                    }
                }

                .disclosure_content {
                    display: none;
                    position: absolute;
                    top: 40px;
                    left:-100%;
                    z-index: 9;
                    font-size: 14px;
                    width: 480px;
                    padding: 10px;
                    background-color: #ffffff;
                    box-shadow: 0px 2px 6px 0px rgba(0,0,0,.4);
                    &::after {
                        content: '';
                        position: absolute;
                        left: 50%;
                        top: -20px;
                        transform: translateX(-50%);
                        width: 0;
                        height: 0;
                        border-top: 10px solid transparent;
                        border-bottom: 10px solid #ffffff;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;

                    }
                }
            }
        }

        
        .product_link_box {
            &:hover {
                text-decoration: none;
            }
        }
        .product_list_container {
            margin: auto;
            width: $rootWidth;
            .product_item {
                width: $rootWidth;
                background-color: #ffffff;
                position: relative;
                margin-bottom: 10px;
                box-shadow: 0px 0px 6px 0px #B4EAFF;
                transition: all linear 0.1s;
                box-sizing: border-box;
                transform: scale(1);

                cursor: pointer;
                &:hover {
                    transform: scale(1.01);
                    box-shadow: 0px 0px 30px 0px #B4EAFF;
                }
                .product_item_content {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 100%;
                    min-height: 300px;
                    box-sizing: border-box;
                    padding-left: 60px;
                    padding-right: 28px;
                    padding-top: 80px;
                    padding-bottom: 30px;
                    .product_logo {
                        display: inline-block;
                        width: 150px;
                        // height: 160px;
                    }
                    .product_item_center {
                        width: 470px;
                        
                        .product_desc_list {

                            li {
                                margin-bottom: 17px;
                                display: flex;
                                .icon_pic {
                                    display: inline-block;
                                    width: 16px;
                                    height: 16px;
                                    flex-shrink: 0;
                                    margin-top: 2px;
                                    margin-right: 14px;
                                    background-image: url('../../assets/image/xuanzhong.svg');
                                    background-size: cover;
                                    background-position: center center;
                                    background-repeat: no-repeat;
                                    vertical-align: middle;
                                }
                                .text {
                                    display: inline-block;
                                    font-size: 16px;
                                    color: #101010;
                                    vertical-align: middle;
                                }

                                // &:nth-of-type(1) {
                                //     .text {
                                //         font-weight: bold;
                                        
                                //     }
                                // }
                            }


                            
                        }

                        .available_list {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            >dt {
                                flex-shrink: 0;
                                font-weight: bold;
                                color: #535353;
                            }
                            >dd {
                                margin-left: 15px;
                                img {
                                    display: inline-block;
                                    width: 20px;
                                    height: 20px;
                                    
                                }
                            }
                        }
                    }

                    .rate-box {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .rate-text {
                            font-size: 20px;
                            color: #9D9D9D;
                            .rate {
                                font-size: 52px;
                                color: #535353;
                            }
                            
                        }
                        .star {
                            height: 20px;
                            width: 150px;
                            margin: 10px 0px;
                        }
                        .reviews {
                            font-size: 14px;
                            color: #101010;
                            text-decoration-line: underline;
                            text-decoration-color: #101010;
                        }
                    }

                    .btn-box {
                        text-align: center;
                        .text-link {
                            display: inline-block;
                            color: #E83F60;
                            margin-top: 10px;
                            font-weight: bold;
                            &:hover {
                                text-decoration-color:#E83F60;
                            }

                            .volume-icon {
                                display: inline-block;
                                width: 16px;
                                height: 16px;
                                vertical-align: middle;
                                margin-right: 5px;
                                background-image: url('../../assets/image/volume.svg');
                                background-size: cover;
                                background-position: center center;
                                background-repeat: no-repeat;
                            }
                            span {
                                vertical-align: middle;
                            }
                        }
                    }
                    .visit_btn {
                        display: block;
                        width: 200px;
                        height: 60px;
                        text-decoration: none;
                        color: #ffffff;
                        background-color: #E83F60;
                        border-radius: 12px;
                        font-size: 18px;
                        font-weight: bold;
                        line-height: 60px;
                        text-align: center;
                        transition: all linear 0.1s;
                        &:hover {
                            background-color: #C81A3C;
                        }
                    }
                }

                .first-name {
                    position: absolute;
                    left: 265px;
                    top: 20px;
                    font-size: 25px;
                    font-weight: bold;
                }
                .special_corner_box {
                    position: absolute;
                    left: 0;
                    top: 10px;
                    height: 50px;
                    line-height: 50px;
                    padding: 0px 40px 0px 15px;
                    box-sizing: border-box;
                    
                    color: #ffffff;
                    font-size: 18px;
                    font-weight: bold;

                    &.first {
                        background-color: #4c98f5;
                    }
                    &.second {
                        background-color: #ff865d;
                        
                    }
                    &.third {
                        background-color: #58b168;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        right: -1px;
                        top: 0;
                        width:0;
                        height: 0;
                        border-top: 25px solid transparent;
                        border-bottom:25px solid transparent;
                        border-left: 25px solid transparent;
                        border-right: 25px solid #ffffff;
                    }
                }
                .corner_box {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 60px;
                    height: 44px;
                    line-height: 44px;
                    text-align: center;
                    background-color: #E1E1E1;
                    font-size: 28px;
                    color: #353535;
                }
                .slogan {
                    position: absolute;
                    font-size: 20px;
                    font-family: 'Montserrat-bold';
                    left: 255px;
                    top: 28px;
                    color: #353535;
                }
                .save-box {
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 118px;
                    height: 118px;
  
                    span {
                        position: absolute;
                        right: 10px;
                        top: 15px;
                        width: 43px;
                    }
                }

                .price_box {
                    position: absolute;
                    right: -63px;
                    top: 23px;
                    font-size: 14px;
                    padding: 0 60px;
                    height: 60px;  
                    color: #ffffff;
                    height: 45px;
                    line-height: 45px;
                    text-align: center;
                    transform: rotateZ(30deg);
                    background-image: linear-gradient(to left,rgb(64,120,227),rgb(167,192,227));
                    .price-text {
                        font-weight: bold;
                        font-size: 20px;
                    }
                }
                &:nth-of-type(1) {
                    border: 5px solid #A7C0F1;
                    overflow: hidden;
                    .product_item_content {
                        padding-top: 80px;
                    }
                }

                &:nth-of-type(2),  &:nth-of-type(3), &:nth-of-type(1){
                    .product_item_center {
                        .product_desc_list {
                            li {
                                &:nth-of-type(1) {
                                    .text {
                                        font-weight: bold;
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }


    }

    /*
    * 屏幕尺寸 <= 750px
    */
    .product_container {
        @media screen and (max-width:750px){
            .product_container_title_box {
                width: 100%;
                box-sizing: border-box;

                .title_box_left {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
            .disclosure_box {
                display: none;
            }

            .product_list_container {
                width: 384px;
                box-shadow: 0px 2px 6px 0px rgba(0,0,0,.4);
                .product_item {
                    width: 100%;
                    box-sizing: border-box;
                    overflow: hidden;
                    .product_item_content {
                        flex-direction: column;
                        padding: 10px 15px 20px 15px;

                        .product_item_center {
                            width: 100%;

                            .product_desc_list {

                                li {
                                    display: flex;
                                    .icon_pic {
                                        flex-shrink: 0;
                                        width: 10px;
                                        height: 10px;
                                        margin-top: 5px;
                                        margin-right: 7px;
                                    }
                                }
                            }

                            .available_list {
                                flex-wrap: wrap;
                                >dt {
                                    width: 100%;
                                }
                                >dd {
                                    margin-left: 0;
                                    margin-right: 15px;
                                    margin-top: 10px;
                                }
                            }
                        }

                        .visit_btn {
                            margin-top: 15px;
                        }
                    }
                    .first-name {
                        display: none;
                    }
                    .special_corner_box {
                        font-size: 19px;
                    }
                    .slogan {
                        display: none;
                    }
                    .price_box {
                        height: 40px;
                        line-height: 40px;
                        font-size: 12px;
                        right: -66px;
                        top: 17px;

                        .price-text {
                            font-size: 16px;
                        }
                    }
                    &:nth-of-type(1) , &:nth-of-type(2), &:nth-of-type(3) {
                        
                        padding-top: 65px;
                        
                        .product_item_content {
                            padding-top: 0;
                        }
                    }

                }
            }

            

            
        }
    }

    .question_container {
        margin-top: 77px;
        .question_title_box {
            height: 214px;
            width: 100%;
            background-color: #D4EBFF;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .icon_pic {
                display: inline-block;
                width: 88px;
                height: 88px;
            }
            .question_title {
                font-size: 40px;
                color: #101010;
            }
        }

        .question_box {
            width: 1200px;

            margin: auto;
            margin-top: 55px;
            display: flex;
            justify-content: space-between;
            .question_list {
                li {
                    margin-bottom: 65px;
                    
                    .question_title {
                        font-size: 20px;
                        color: #353535;
                        cursor: pointer;
                        &.current {
                            color: #69A0D0;
                        }
                        .circle {
                            display: inline-block;
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            background-color: #2DA5CC;
                            vertical-align: middle;
                            margin-right: 20px;
                        }
                        .text {
                            vertical-align: middle;
                        }
                    }

                    .phone_show_question_content {
                        display: none;
                        width: 100%;
                        box-sizing: border-box;
                        border-radius: 5px;
                        padding: 10px 15px;
                        margin-top: 15px;
                        background-color: #ffffff;
                        box-shadow: 0px 10px 28px 0px #90C4FF;
                        .question_content {
                            line-height: 28px;
                        }
                        .isUseful_btn_box {
                            margin-top: 15px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .btn {
                                width: 120px;
                                height: 44px;
                                border-radius: 12px;
                                outline: none;
                                color: #ffffff;
                                font-weight: bold;
                                border: none;
                                cursor: pointer;
                                .icon {
                                    display: inline-block;
                                    width: 18px;
                                    height: 18px;
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                    background-position: center center;
                                }
                                &.useless {
                                    
                                    background-color: #BFC8CC;
                                    .icon {
                                        background-image: url('../../assets/image/useless.svg')
                                    }
                                }
                                &.useful {
                                    margin-left: 18px;
                                    background-color: #36A6F9;

                                    .icon {
                                        background-image: url('../../assets/image/useful.svg');
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .show_question_content {
                position: relative;
                width: 654px;
                height: 400px;
                box-sizing: border-box;
                padding: 16px 20px;
                border-radius: 5px;
                background-color: #ffffff;
                box-shadow: 0px 10px 28px 0px #90C4FF;

                .question_content {
                    height: 310px;
                    line-height: 38px;
                    overflow-y: auto;
                }
                .isUseful_btn_box {
                    position: absolute;
                    bottom: 16px;
                    right: 20px;
                    display: flex;
                    align-items: center;
                    .btn {
                        width: 120px;
                        height: 44px;
                        border-radius: 12px;
                        outline: none;
                        color: #ffffff;
                        font-weight: bold;
                        border: none;
                        position: relative;
                        overflow: hidden;
                        cursor: pointer;
                        .icon {
                            display: inline-block;
                            width: 20px;

                            height: 20px;
                            margin-right: 5px;
                            background-size: cover;
                            background-position: center center;
                            background-repeat: no-repeat;
                        }
                        &.useless {

                            .icon {
                               
                                background-image: url('../../assets/image/useless.svg');
                                
                                &.cry-icon {
                                    background-image: url('../../assets/image/cry.svg');
        
                                }
        
                            }
                            background-color: #BFC8CC;
                        }
                        &.useful {
                            
                            margin-left: 18px;
                            background-color: #36A6F9;

                            .icon {
                                background-image: url('../../assets/image/useful.svg');
                            
                                &.smile-icon {
                                    background-image: url('../../assets/image/smile.svg');
                                }
                            }
                        }

                        
                        .text-container {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            left: 50%;
                            top:50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transform: translate(-50%,-50%);
                            z-index: 1;

                        }

                        &::after {
                            content: '';
                            transition: all linear 0.15s;
                            position: absolute;
                            background-color: rgba(0,0,0,0);
                            left: 50%;
                            width: 0;
                            height: 100%;
                            border-radius: 12px;
                            transform: translate(-50%,-50%);
                            top: 50%;
                            background-color: rgba(0,0,0,.1);
                        }

                        &:hover {
                            &::after {

                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    /*
    * 屏幕尺寸 <= 750px
    */

    .question_container {

        @media screen and (max-width:750px){
            
            .question_title_box {
                height: 150px;
                .icon_pic { 
                    height: 62px;
                    width: 62px;
                }
                .question_title { 
                    font-size: 24px;
                }
            }

            .question_box {
                width: 100%;
                box-sizing: border-box;
                padding: 0 15px;

                .question_list {
                    li {
                        .question_title {
                            color: #69A0D0;
                        }
                        .phone_show_question_content {
                            display: block;
                            position: relative;
                            height: 510px;
                            .question_content {
                                height: 420px;
                                overflow: auto;
                                .isUseful_btn_box {
                                    position: absolute;
                                    bottom: 16px;
                                    right: 20px;
                                    display: flex;
                                    align-items: center;
                                    .btn {
                                        width: 120px;
                                        height: 44px;
                                        border-radius: 12px;
                                        outline: none;
                                        color: #ffffff;
                                        font-weight: bold;
                                        border: none;
                                        position: relative;
                                        overflow: hidden;
                                        cursor: pointer;
                                        .icon {
                                            display: inline-block;
                                            width: 20px;
                
                                            height: 20px;
                                            margin-right: 5px;
                                            background-size: cover;
                                            background-position: center center;
                                            background-repeat: no-repeat;
                                        }
                                        &.useless {
                
                                            .icon {
                                               
                                                background-image: url('../../assets/image/useless.svg');
                                                
                                                &.cry-icon {
                                                    background-image: url('../../assets/image/cry.svg');
                        
                                                }
                        
                                            }
                                            background-color: #BFC8CC;
                                        }
                                        &.useful {
                                            
                                            margin-left: 18px;
                                            background-color: #36A6F9;
                
                                            .icon {
                                                background-image: url('../../assets/image/useful.svg');
                                            
                                                &.smile-icon {
                                                    background-image: url('../../assets/image/smile.svg');
                                                }
                                            }
                                        }
                
                                        
                                        .text-container {
                                            position: absolute;
                                            width: 100%;
                                            height: 100%;
                                            left: 50%;
                                            top:50%;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            transform: translate(-50%,-50%);
                                            z-index: 1;
                
                                        }
                
                                        &::after {
                                            content: '';
                                            transition: all linear 0.15s;
                                            position: absolute;
                                            background-color: rgba(0,0,0,0);
                                            left: 50%;
                                            width: 0;
                                            height: 100%;
                                            border-radius: 12px;
                                            transform: translate(-50%,-50%);
                                            top: 50%;
                                            background-color: rgba(0,0,0,.1);
                                        }
                
                                        &:hover {
                                            &::after {
                
                                                width: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                            
                            
                        }
                    }
                }
                .show_question_content {
                    display: none;
                }
            }
        }
    }

    .pickers_container {
        width: 1200px;
        margin: auto;
        margin-top: 120px;
        .pickers_title {
            font-size: 48px;
            margin-bottom: 40px;
            color: #353535;
            text-align: center;
        }

        .pickers_product_wrapper {
            width: 1200px;
            height: 635px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .picker_product_item {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 360px;
                height: 530px;
                box-sizing: border-box;
                background-color: #ffffff;
                box-shadow: 0px 0px 30px 0px #A3C5EC;
                padding: 15px;
                transform: scale(1);
                transition: transform linear 0.1s;
                &:hover {
                    transform: scale(1.02);
                }
                .corner-box {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    .line {
                        display: block;
                        width: 100%;
                        height: 8px;
                        background-color: #69A0D0;
                    }
                    .text {
                        display: block;
                        width: 84px;
                        height: 54px;
                        line-height: 54px;
                        text-align: center;
                        font-weight: bold;
                        color: #ffffff;
                        font-size: 28px;
                        background-color: #69A0D0;
                    }
                }
                .picker_item_top {
                    display: flex;
                    justify-content: space-between;
                    .logo {
                        display: inline-block;
                        // width: 160px;
                        height: 38px;
                        margin-top: 20px;
                        flex-shrink: 0;
                    }
                    .rate_wrapper {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-left: 15px;
                        .rate_box {
                            font-size: 20px;
                            color: #9D9D9D;
                            .rate {
                                font-size: 48px;
                                color: #535353;
                            }
                        }
                        .star {
                            height: 20px;
                        }
                        .reviews {
                            font-size: 14px;
                            margin-top: 10px;
                            color: #101010;
                            text-decoration-line: underline;
                            text-decoration-color: #101010;
                        
                        }
                    }
                }

                .picture {
                    display: block;
                    width: 230px;
                    margin-top: 27px;
                    margin-bottom: 12px;
                    flex-shrink: 0;
                }
                .desc {
                    width: 230px;
                    color: #353535;
                    line-height: 24px;
                    text-align: center;
                }
                .btn {
                    display: block;
                    text-decoration: none;
                    width: 200px;
                    height: 52px;
                    margin: 15px 0px;
                    text-align: center;
                    line-height: 52px;
                    font-weight: bold;
                    color: #ffffff;
                    border-radius: 12px;
                    transition: all linear 0.1s;
                    background-color: #36A6F9;
                    &:hover {
                        background-color: #297ebc;
                    }
                }
                .review {
                    font-size: 14px;
                    color: #101010;
                    text-decoration-line: underline;
                    text-decoration-color: #101010;

                    &:hover {
                        color: #36A6F9;
                        text-decoration-color: #36A6F9;
                    }
                }

                &.picker_product_main_item {
                    height: 635px;
                    width: 443px;

                    .picker_item_top {
                        margin-top: 35px;
                        .logo {
                            width: 237px;
                            height: 58px;
                            margin-top: 30px;
                        }
                        .rate_wrapper {

                            .rate_box {

                                .rate {
                                    font-size: 52px;
                                }
                            }
                        }
                    }
                    .picture {
                        width: 285px;
                        margin-top: 40px;
                        margin-bottom: 20px;
                        
                    }
                    .btn {
                        background-color: #E83F60;
                        &:hover {
                            background-color: #C81A3C;
                        }
                    }
                }

                &:nth-of-type(1) {
                    order: 2
                }
                &:nth-of-type(2) {
                    order: 1
                }
                &:nth-of-type(3) {
                    order: 3
                }
            }
        }
    }

    /*
    * 屏幕尺寸 <= 750px
    */

    .pickers_container {
        @media screen and (max-width: 750px){
            width: 100%;
            margin-top: 40px;
            .pickers_title {
                font-size: 30px;
            }
            .pickers_product_wrapper { 
                width: 100%;
                height: auto;
                box-sizing: border-box;
                padding: 0 15px;
                flex-direction: column;
                .picker_product_item {
                    order: 2;
                    width: 100%;
                    margin-bottom: 30px;
                    &.picker_product_main_item {
                        order: 1;
                        width: 100%;
                        .picker_item_top {

                            .logo {
                                width: 185px;
                                height: 43px;
                            }
                            .rate_wrapper {
                                .rate_box {
                                    .rate {
                                        font-size: 48px;
                                    }
                                }
                            }
                        }
                        .picture {
                            width: 230px;
                            height: 140px;
                        }
                    }
                }
                
            }
        }
        
    }
  }