body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; } 

@font-face {
    font-family: 'Montserrat-Light';
    
    src: url('../font/Montserrat-Light-6.eot');
    src: url('../font/Montserrat-Light-6.ttf') format('truetype'),
        url('../font/Montserrat-Light-6.woff') format('woff'),
        url('../font/Montserrat-Light-6.woff2') format('woff2'),
        url('../font/Montserrat-Light-6.svg') format('svg');
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat-bold';
    src: url('../font/Montserrat-Bold-3.eot');
    src: url('../font/Montserrat-Bold-3.ttf') format('truetype'),
            url('../font/Montserrat-Bold-3.woff') format('woff'),
        url('../font/Montserrat-Bold-3.woff2') format('woff2'),
        url('../font/Montserrat-Bold-3.otf') format('opentype'),
        url('../font/Montserrat-Bold-3.svg') format('svg');
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    font-display: swap;
    src: url(../font/Raleway-Black.eot);
    src: url('../font/Raleway-Black.ttf'),
        url('../font/Raleway-Black.woff') format('woff'),
        url('../font/Raleway-Black.woff2') format('woff2'),
        url('../font/Raleway-Black.svg') format('svg');
    font-display: swap;
}